@charset "UTF-8";
@import "//fonts.googleapis.com/css?family=Open+Sans";
.steps {
  list-style: none;
  margin-top: 55px;
  padding: 0;
  display: table;
  table-layout: fixed;
  width: 100%;
  color: white;
  height: 4rem;
}
.steps > .step {
  position: relative;
  display: table-cell;
  text-align: center;
  font-size: 0.875rem;
  color: #6d6875;
}
.steps > .step:before {
  content: attr(data-step);
  display: block;
  margin: 0 auto;
  margin-top: 10px;
  background: #ffffff;
  border: 2px solid #e6e6e6;
  color: #e6e6e6;
  width: 2rem;
  height: 2rem;
  text-align: center;
  margin-bottom: -4.2rem;
  line-height: 1.9rem;
  border-radius: 100%;
  position: relative;
  z-index: 1;
  
  font-weight: 700;
  font-size: 1rem;
}
.steps > .step:after {
  content: "";
  position: absolute;
  display: block;
  background: #e6e6e6;
  width: 100%;
  opacity: 0;
  height: 0.125rem;
  top: 24px;
  left: 50%;
}
.steps > .step:last-child:after {
  display: none;
}
.steps > .step.is-complete {
  color: black;
}
.steps > .step.is-complete:before {
  content: "✓";
  color: rgba(110, 204, 91, 1);
  background: #fef0e2;
  border: 2px solid rgba(110, 204, 91, 1);
}
.steps > .step.is-complete:after {
  background: rgba(110, 204, 91, 1);
}
.steps > .step.is-active:before {
  border: 2px solid rgba(110, 204, 91, 1);
  background: rgba(110, 204, 91, 1);
}

/**
 * Some Generic Styling
 */
